/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}

/* Table border */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Column names background color (Header Row) */
th {
    background-color: #f4f4f4;
    font-weight: bold;
    padding: 10px;
    position: sticky; /* Fix header */
    top: 0;
    z-index: 1;

}

/* Even rows background color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Odd rows background color */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Hover effect on database entries*/
tr:hover {
    background: linear-gradient(to bottom, #dbbcf1, #b5b5f1); /* Blue to Midnight Purple gradient */
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    text-shadow: black 1px 1px 1px;
}

/* Next Button */
.pagination button {
    padding: 5px 10px;
    background-color: #6200ea; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Previous button */
.pagination button:disabled {
    padding: 5px 10px;
    background-color: #6200ea; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Back to home button*/
.backToLanding button {
    padding: 10px 10px;
    background-color: #6200ea; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
    position: absolute;
    top: 40px;
    right: 10px;
    text-shadow: black 1px 1px 1px;

}

.pagination span {
    margin: 0 50px;
    font-weight: bold;
}

