/* App.css */


/* Box Around Title */
.app-header {
  background: linear-gradient(to bottom, #4b0082, #000000); /* Blue to Midnight Purple gradient */
  color: white; /* text color */
  padding: 12px;
  text-align: center;
  -webkit-text-stroke: 1px black; /* Black outline around text */
  font-family: Arial, sans-serif;
}

/* Box under title behind columns names(app-main) */
.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4b0082, #40036a); /* Blue to Midnight Purple gradient */
}



/* Box around the Coloumn names*/
.app-main {
  margin: 2px;
  padding: 15px;
  background: #4b0082;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
