/* App.css */

/* Box under title behind columns names(app-main) */
.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4b0082, #00009e); /* Blue to Midnight Purple gradient */
}

/* Box Around Title */
.app-header {
  background: linear-gradient(to bottom, #00009e, #4b0082); /* Blue to Midnight Purple gradient */
  color: white;
  padding: 20px;
  text-align: center;
}

/* Box around the Coloumn names*/
.app-main {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
